strong, b, span.cm-strong {
    color: rgb(255, 136, 0);
}


i, em, span.cm-em {
    color: rgb(118, 71, 226);
}


/* Base colors */
:root {
    --start-color: #00008B; /* Dark blue */
    --end-color: #ADD8E6; /* Light blue */
}

/* Function to calculate gradient steps */
@function gradient-steps($start, $end, $steps) {
    @return map-loop($steps, mix($start, $end, percentage((index - 1) / ($steps - 1))));
}

/* Apply gradient to folders and notes */
.nav-folder, .nav-file-title {
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            color: mix(var(--start-color), var(--end-color), ($i - 1) * 10%);
        }
    }
}
  


{
    "minimal-style@@h1-size": "2em",
    "minimal-style@@h2-size": "1.5em",
    "minimal-style@@h3-size": "1.17em",
    "minimal-style@@h4-size": "1em",
    "minimal-style@@h6-size": "0.67em",
    "minimal-style@@metadata-heading-off": true,
    "minimal-style@@metadata-add-property-off": true,
    "minimal-style@@metadata-icons-off": false,
    "minimal-style@@metadata-label-width": 8,
    "minimal-style@@progress-complete@@light": "#889EC7",
    "minimal-style@@progress-complete@@dark": "#889EC7",
    "minimal-style@@callouts-style": "callouts-outlined",
    "minimal-style@@color-red@@light": "#00A5FF",
    "minimal-style@@color-red@@dark": "#00A5FF",
    "minimal-style@@blockquote-font-style": "normal",
    "minimal-style@@ribbon-style": "ribbon-hidden",
    "minimal-style@@tag-color@@light": "#0295A9"
  }

/* hide properties view in reading view/mode */
body {
  --metadata-display-reading: none;
}


.mod-left-split .workspace-tab-header-container-inner {
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

h3 {
    color: orange !important;
  }
  

/* Blur text */
.blur-text {
    color: transparent; /* Hide original text */
    display: inline-block; /* Ensure it wraps around the text */
    backdrop-filter: blur(5px); /* Blur effect */
    -webkit-backdrop-filter: blur(5px); /* For Safari */
}







/* Center content with [!custom-center] */
.markdown-preview-view blockquote.custom-center {
    text-align: center;
}

