.markdown-preview-view .metallic {
    color: #C0C0C0;
    text-shadow: 0 0 5px #C0C0C0, 0 0 10px #C0C0C0, 0 0 15px #C0C0C0, 0 0 20px #C0C0C0;
}

.glow {
    color: #ffffff; /* Change this to the color of your text */
    text-shadow:
        0.5px 0.5px 0 #ffffff,
       -0.5px -0.5px 0 #ffffff,  
        0.5px -0.5px 0 #ffffff,
       -0.5px  0.5px 0 #ffffff,
        0.5px  0.5px 0 #ffffff;
}

.royal {
    color: #ffd700;
    text-shadow: 2px 2px #4169e1;
}

.skew {
    -webkit-text-stroke: 0.5px white;
    color: white;
}

.tn {
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    -webkit-text-stroke: 0.2px white;
    color: white;
}

.skeww {
    -webkit-text-stroke: 1px violet;
    font-size: 35px;
}

.gradient {
    background: linear-gradient(to right, red, red, orange, yellow, green, turquoise, blue, indigo, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 55px;
}

.fire-mage {
    background: -webkit-linear-gradient(left, #ff0000, #ff7f00, #ffff00, #ff7f00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.decypher {
    color: #000000;
    background: -webkit-linear-gradient(left, #ffffff, #d3d3d3, #a9a9a9, #696969, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 3px #777;
}

.runedecypherer {
    color: #000000;
    background: -webkit-linear-gradient(left, #ffffff, #d3d3d3, #000000, #a9a9a9, #696969, #000000, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 10px #8a2be2, 0 0 15px #8a2be2, 0 0 20px #8a2be2;
}

.ancientcrafter {
    color: #000000;
    background: -webkit-linear-gradient(left, #8b0000, #daa520, #ffd700, #FF0000, #8b0000, #8b0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.canvas-card {
    border: none !important;
    background: none !important;
}

.runecrafter {
    color: #000000;
    text-shadow: 0px 1px 6px #ff4500, 0 0 5px #ff4500, 0 0 10px #ff4500;
}

.runecrafter2 {
    color: #000000;
    background: -webkit-linear-gradient(left, #ffffff, #8B0000, #ff7f7f, #ff0000, #b22222, #8b0000, #ffffff, #000000, #ff4500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 6px #ff4500, 0 0 5px #ff4500, 0 0 10px #ff4500;
}

.relicdecipherer {
    color: #000000;
    background: -webkit-linear-gradient(left, #ffffff, #ffffff, #ffff00, #ffd700, #daa520, #b8860b, #8b6914);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 10px #8b4513, 0 0 15px #8b4513, 0 0 20px #8b4513;
}

.reliccrafter {
    color: #000000;
    background: -webkit-linear-gradient(top, #ffffff, #ffffff, #ffffff, #ffd700, #daa520, #8b6914, #cd853f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 10px #cd853f, 0 0 15px #cd853f, 0 0 20px #cd853f;
    font-size: 25px;
}


.holysmith {
    color: transparent;
    text-shadow: 0px 0px 10px #8a2be2;
    background: -webkit-linear-gradient(right, #ffffff, #ff69b4, #ff1493, #c71585, #800080, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.es {
    color: #000000;
    background: -webkit-linear-gradient(left, #ffffff, #A020F0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.as {
    color: #000000;
    background: -webkit-linear-gradient(left, #A020F0, #FF69B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.ws {
    color: #000000;
    background: -webkit-linear-gradient(right, #ffffff, #FF69B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

/* Enhanced CSS code to style 'Healer' name */
.Healer {
    color: #008000; /* Green color for the text */
    font-size: 20px; /* Font size of the text */
    font-weight: bold; /* Makes the text bold */
    text-shadow: 2px 2px #FF0000; /* Adds a red shadow to the text */
    background-color: #FFFF00; /* Yellow background for the text */
    border: 2px solid #0000FF; /* Blue border around the text */
    border-radius: 5px; /* Rounded corners for the border */
    padding: 5px; /* Space between the border and the text */
}

